<!-- morsecode/converter.html -->


{% extends "base.html" %}

{% block title %}Morse code Converter{% endblock %}

{% block content %}
<h2>Morse Code Converter</h2>

<div>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
<div class = "container-main">


    <form method="post" class="form-container">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <button type="submit" value="generate">Convert to Morse Code</button>
        {% if input_text %}
            <div class="result-container">
                <h2>Result</h2>
                <p><strong>Input Text:</strong> {{ input_text }}</p>
                <p><strong>Morse Code:</strong></p>
                <pre>{{ morse_code }}</pre>
                <button type="submit" name="action" value="BuyNow">Buy Now</button>
                <button type="submit" name="action" value="AddToCart">Add to cart</button>
            </div>
        {% endif %}
        
    </form>
    

{% endblock %}


{% block extra_css %}
<style>
.container-main {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #001f00; /* Dark green background */
    padding: 20px;
    max-width: 400px; /* Set a maximum width for the form container */
    margin: 50px auto; /* Center the form on the page */


}
.form-container {

    width: 30%;
}
.result-container {
    width: 30%;
}

    label {
    display: block;
    margin-bottom: 8px;
    color: #00ff00; /* Neon green text */
    }
    input
    {
    width: calc(100% - 24px);
    padding: 10px;
    border: 1px solid #00ff00; /* Neon green border */
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: black; /* Black background */
    color: #00ff00; /* Neon green text */
    }

    /* When moving the mouse over the submit button, add a darker green color */
    input[type='submit']:hover {
    background-color: #009900;
    }
    textarea {
    width: calc(100% - 24px);
    padding: 10px;
    border: 1px solid #00ff00; /* Neon green border */
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: black; /* Black background */
    color: #00ff00; /* Neon green text */
    }
    button{
    background-color: rgb(51, 255, 0);
    border: 1px solid #00ff00; /* Neon green border */
    color: #000000;
    width: calc(100% - 24px);
    height: 30px;
    border-radius: 4px;
    }
    .messages {
        margin-bottom: 10px;
    }
    
    .success {
        color: #00ff00; /* Neon green text for success messages */
    }
    
    .error {
        color: #ff0000; /* Red text for error messages */
    }
    </style>
  
{% endblock extra_css %}